<!DOCTYPE html>
<html>
<head>
    <title>Live</title>
    <!-- Importing CSS Styles -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <h1>StoneLive</h1>
    </nav>

    <!-- Initial Data -->
    <div class="init">
        <!-- Group 1 of Data -->
        <div class="data1">
            <!-- Displaying Summary of Information -->
            <!-- Total Atendimentos -->
            <div class="resume">
                <div class="title"><h1>TOTAL EM ATENDIMENTOS</h1></div>
                <h1 class="return"><%= data.totalOccurrences %></h1>
            </div>
            <!-- Total Dias -->
            <div class="resume">
                <div class="title"><h1>PERÍODO TOTAL EM DIAS</h1></div>
                <h1 class="return"><%= data.totalDays %></h1>
            </div>
            <!-- Média Mensal -->
            <div class="resume">
                <div class="title"> <h1>MÉDIA MENSAL</h1></div>
                <h1 class="return"><%=data.totalMonthlyAverage %></h1>
            </div>
        </div>
        
        <!-- Group 2 of Data -->
        <div class="data2">
            <!-- Média Diária -->
            <div class="resume">
                <div class="title"><h1>MÉDIA DIÁRIA</h1></div>
                <h1 class="return"><%=data.dailyAverage %></h1>
            </div>
            <!-- Estado com maior número de ocorrências -->
            <div class="resume">
                <div class="title"><h1>ESTADO TOP</h1></div>
                <h1 class="return"><%=data.mostOccurredState  %></h1>
            </div>
            <!-- Estado com menor número de ocorrências -->
            <div class="resume">
                <div class="title"><h1>ESTADO BOTTOM</h1></div>
                <h1 class="return"><%= data.leastOccurredState %></h1>
            </div>
        </div>
    </div>
    
    <!-- Graphs Section -->
    <div class="chart1">
         <canvas id="sortedDates" style="width:80%;max-width:100%;height:400px;"></canvas>
         <canvas id="baseCountsByDate" style="width:80%;max-width:100%;height:400px;"></canvas>    
    </div>
    
    <!-- Displaying Distribution Percentage -->
    <div id="titlechart2">
        <h1 id="titleneutral" >DISTRIBUIÇÃO PERCENTUAL ESTADUAL</h1>
    </div>
    <div id="chart2">
        <canvas id="statePercentages" width="800" height="400"></canvas>
    </div>
     
    <!-- More Data Display -->
    <div class="data3">
        <!-- Total Bases -->
        <div class="resume1">
            <div class="title1"><h1>TOTAL DE BASES</h1></div>
            <h1 class="return1"><%= data2.TotalBases%></h1>
        </div>
        <!-- Total Estoque -->
        <div class="resume1">
            <div class="title1"><h1>TOTAL EM ESTOQUE</h1></div>
            <h1 class="return1"><%= data2.TotalStock%></h1>
        </div>
    </div>
    
    <!-- Additional Graphs Section -->
    <div class="chart1">
        <canvas id="stateBaseCount" style="width:80%;max-width:100%;height:400px;"></canvas>
        <canvas id="stockByBase" style="width:80%;max-width:100%;height:400px;"></canvas>  
    </div>

    <!-- Importing Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
